:root {
  --red: hsl(0, 100%, 68%);
  --veryDarkBlue: hsl(230, 29%, 20%);
  --darkGrayishBlue: hsl(230, 11%, 40%);
  --grayishBlue: hsl(231, 7%, 65%);
  --lightGrayishBlue: hsl(207, 33%, 95%);
  font-size: 18px;

  /* Headings, Nav */
  font-family: 'Barlow Condensed', sans-serif;

  /* Body
  font-family: 'Barlow', sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  color: var(--veryDarkBlue);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  text-align: left;
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4.5vh 4.5vh;
}

.nav {
  position: absolute;
  top: 12%;
  display: none;
}

nav img {
  max-height: 35px;
}

.hamburger {
  background-image: url(images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  min-width: 0;
  width: 55px;
  height: 55px;
}

.hamburger_active {
  background-image: url(images/icon-close.svg);
}

.nav-links {
  list-style: none;
  text-align: center;
  box-shadow: -1px 1px 10px grey;
}

li {
  background-color: white;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  padding: 2vh 0;
  width: 35vh;
  height: auto;
}

.body-hero {
  height: auto;
  max-width: 100vw;
  margin: 2vh 0 10vh 0;

}

.main-a {
  overflow: hidden;
  box-sizing: border-box;
  height: 35vh;
  width: auto;
  z-index: -1;
}

.main-a::after {
	content: '';
	position: fixed;
	top: -40%;
	right: -50%;
	border-radius: 2rem;
	width: 100%;
	height: 100%;
	background-color: var(--lightGrayishBlue);
	z-index: -2;
}

.main-b {
  padding: 0vh 7.5vw;
}

h1 {
  font-weight: 700;
  font-size: 2.3rem;
  text-align: left;
  margin-bottom: 1vh;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
}

h2 {
  margin-bottom: 2.5vh;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  max-width: 100%;
  color: var(--grayishBlue);
}

span {
  color: white;
  background-color: var(--veryDarkBlue);
  padding: 6px 10px;
  border-radius: 25px;
  font-size: 0.8rem;
  font-family: 'Barlow Condensed', sans-serif;
  margin-right: 2vw;
}

p {
  margin-bottom: 3vh;
  color: var(--darkGrayishBlue);
}

.schedule {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 5vh;
}

button {
  background-color: var(--red);
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  height: 45px;
  min-width: 150px;
  border-radius: 8px;
  border-style: none;
  font-size: 0.8rem;
}

button:hover {
  background-color: hsl(0, 100%, 78%);
}

.schedule p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--grayishBlue);
}

@media (min-width:760px) {
  nav {
    padding: 4.5vh 7.5vh;
  }

  .nav {
    left: 25%;
  }

  li {
    height: 80px;
    font-size: 1.5rem;
  }

  .main-a {
    height: 45vh;
  }

  .main-b {
    margin-top: 10vh;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  span {
    font-size: 1.5rem;
    padding: 7px 14px;
  }

  p {
    font-size: 1.5rem;
  }

  button {
    height: 65px;
    width: 350px;
    font-size: 1.5rem;
  }
  .schedule p{
    font-size: 1.3rem;
  }
}

@media (min-width:800px) {
  *,
  body {
    margin: 0;
  }

  .container {
    min-height: 100vh;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .hamburger {
    display: none;
  }

  nav {
    padding: 2.5vh 7.5vw 2.5vh 10vw;

  }

  .nav {
    display: inline;
    position: inherit;
    max-width: 35vw;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 0;
  }

  li {
    display: inline;
    background-color: inherit;
    height: 25px;
    padding: 0 0 0 0;
    font-size: 1rem;
  }

  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }


  .main {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }

  .main-a {
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
  }

  .main-a img {
    position: fixed;
    width: auto;
    height: 60vh;
    right: -15%;
  }


  .main-b {
    box-sizing: border-box;
    width: 45vw;
    height: 100%;
    padding-top: 5vh;
  }

  h2, span {
    font-size: 0.8rem;
  }

  span {
    margin-right: 1vw;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 4vh;
    margin-top: 3vh;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 7.5vh;
  }

  .schedule p {
    font-size: 1rem;
  }

  .schedule button {
    width: 50%;
    height: 8vh;
    font-size: 1.3rem;
  }

}
